.layout {
    display: grid;
    width: 100%;
    position: relative;
    z-index: 1;
    height: 100%;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "content";
}

.header {
    grid-area: header;
}

.content {
    grid-area: content;
    margin: auto;
    padding: 40px 0;
    width: 100%;
    max-width: 1040px;
}