.project {
  &__header {
    margin-bottom: 40px;
    &-subtitle {
      color: $color-font;
      font-size: 14px;
      font-weight: bold;
    }
    &-title {
      color: $color-font;
      font-size: 28px;
      font-weight: bold;
    }
  }
  &__ongoing {
    background: $white;
    border-radius: 8px;
    padding: 40px 40px 18px 40px;
    margin-bottom: 20px;
    &-title {
      color: $color-font;
      font-size: 21px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    &-countdown {
      display: flex;
      justify-content: flex-end;
      background: $color-bg-menu;
      border-radius: 18px;
      height: 74px;
      margin-bottom: 20px;
      & .countdown {
        height: 100%;
        flex-basis: 65%;
        padding: 9px 20px;
        background: linear-gradient(270deg, $denied 1.26%, $lightBlue 57.74%);
        border-radius: 18px;
        &-title, &-value {
          color: $white;
          font-size: 16px;
          font-weight: bold;
        }
        &-value {
          font-size: 28px;
        }
      }
    }
    &-time {
      display: flex;
      justify-content: space-between;
      color: $color-font;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  &__validation-info {
    display: flex;
    justify-content: space-between;
  }
  &__vote {
    padding: 20px 20px 10px 20px;
    background: $white;
    border-radius: 8px;
    margin-right: 20px;
    &-title {
      color: $color-font;
      font-weight: bold;
      font-size: 21px;
      margin-bottom: 7px;
    }
    &-charts {
      height: 209px;
    }
    .chart-axis {
      font-weight: 700;
      font-size: 16px;
    }
    &-subtitle {
      display: flex;
      flex-direction: column;
      color: $color-font;
      font-size: 14px;
      margin-bottom: 25px;
    }
  }
  &__validate {
    padding: 20px 40px 40px 40px;
    background: $white;
    border-radius: 8px;
    flex: 1;
    &-title {
      color: $color-font;
      font-weight: bold;
      font-size: 21px;
      margin-bottom: 7px;
      margin-bottom: 50px;
    }
    &-label {
      color: $color-font;
      font-size: 16px;
      margin-bottom: 12px;
    }
    &-input {
      position: relative;
      background-color: $color-bg-input;
      padding: 18px 18px 18px 60px;
      font-size: 16px;
      margin-bottom: 40px;
    }
    &-back {
      position: absolute;
      z-index: 2;
      top: 50px;
      left: 15px;
      color: $lightBlue;
    }
    &-buttons {
      display: flex;
      justify-content: space-between;
      & .btn__affirm, & .btn__deny {
        max-width: none;
        flex: 1;
        padding: 18px 0;
        color: $white;
        font-size: 21px;
        font-weight: bold;
      }
      & .btn__affirm {
        background-color: $confirmed;
        margin-right: 40px;
      }
      & .btn__deny {
        background-color: $denied;
      }
    }
  }
}