.project {
  &__header {
    margin-bottom: 40px;

    display: flex;
    align-items: center;
    &-subtitle {
      color: $color-font;
      font-size: 14px;
      font-weight: bold;
    }
    &-title {
      color: $color-font;
      font-size: 28px;
      font-weight: bold;
    }
  }
  &__status {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    width: 100%;
    height: 50px;

    border-radius: 8px;
    &.affirmed {
      background: $confirmed;
    }
    &.denied {
      background: $denied;
    }
    &__text {
      font-family: $common-font;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;

      color: $white;
    }
  }
  &__body {
    margin-top: 20px;
  }
  &__ongoing {
    height: 216px;
    background: $white;
    border-radius: 8px;
    padding: 40px 40px 18px 40px;
    margin-bottom: 20px;
    &-title {
      color: $color-font;
      font-size: 21px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    &-countdown {
      position: relative;
      display: flex;
      justify-content: flex-end;
      background: $color-bg-menu;
      border-radius: 18px;
      height: 74px;
      margin-bottom: 20px;
      & .countdown {
        height: 100%;
        // flex-basis: 65%;
        padding: 9px 20px;
        background: $lightBlue;
        border-radius: 18px;
        &-wrapper-fix {
          right: 20px
        }
        &-wrapper {
          position: absolute;
          z-index: 1;
        }
        &-title,
        &-value {
          color: $white;
          font-size: 16px;
          font-weight: bold;
        }
        &-value {
          font-size: 28px;
        }
      }
      .fix {
        position: absolute;
        // width: 224px;
        background-color: $denied;
        height: 100%;
        border-radius: 18px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        &::before {
          content: '';
          position: absolute;
          top: -16px;
          height: 12px;
          width: 2px;
          background-color: $denied;
        }
        &-text {
          position: absolute;
          left: -180px;
          display: flex;
          align-items: center;
          height: 100%;
          font-size: 36px;
          color: $denied;
          text-transform: uppercase;
          font-weight: 700;
        }
        &-tooltip {
          display: flex;
          align-items: center;
          position: absolute;
          top: -42px;
          left: -6px;
        }
        &-tooltip-message {
          width: 220px;
          padding: 16px 17px;
          border-radius: 2px;
          filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.05));
          font-size: 12px;
          color: $color-font;
          font-weight: bold;
        }
        &-time {
          display: flex;
          flex-direction: column;
          font-size: 12px;
          color: $denied;
          margin-left: 12px;
        }
      }
    }
    &-time {
      display: flex;
      justify-content: space-between;
      color: $color-font;
      font-size: 16px;
      text-transform: uppercase;
    }
    &-affirmed {
      padding: 40px 40px 40px 96px;
      background-color: $confirmed;
    }
    &-denied {
      padding: 40px 40px 40px 96px;
      background-color: $denied;
    }
    &-escalation {
      height: unset;
      margin-bottom: 0;
      .project__ongoing-result {
        height: 100%;
        align-items: center;
      }
    }
    &-icon {
      margin-top: 15px;
      margin-right: 114px;
      i {
        font-size: 52px;
      }
      .icon-success::before {
        display: inline-block;
        width: 52px;
      }
    }
    &-result {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      &-text {
        display: flex;
        flex-direction: column;
        font-size: 36px;
        color: $white;
      }
      &-title {
        font-weight: 700;
      }
      &-message {
        font-size: 21px;
        margin-top: 18px;
      }
      &-time {
        display: flex;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 16px;
        span:first-child {
          margin-right: 20px;
        }
      }
    }
  }
  &__validation-info {
    display: flex;
    justify-content: space-between;
  }
  &__vote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 260px;
    padding: 20px 20px 40px 20px;
    background: $white;
    border-radius: 8px;
    margin-right: 20px;
    &-title {
      color: $color-font;
      font-weight: bold;
      font-size: 21px;
      margin-bottom: 7px;
    }
    // &-charts {
    //   height: 209px;
    // }
    // .chart-axis {
    //   font-weight: 700;
    //   font-size: 16px;
    // }
    &-tree {
      display: flex;
      justify-content: center;
      position: relative;
      height: 214px;
      width: 214px;
    }
    &-grey {
      position: absolute;
      z-index: 1;
      overflow: hidden;
      // height: 100%;
    }
    &-color {
      position: absolute;
      height: 100%;
    }
    &-subtitle {
      display: flex;
      flex-direction: column;
      color: $color-font;
      font-size: 14px;
      margin-bottom: 25px;
    }
  }
  &__validate {
    height: 326px;
    background: $white;
    border-radius: 8px;
    flex: 1;
    &-title {
      color: $color-font;
      font-weight: bold;
      font-size: 21px;
    }
    &-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding: 20px 40px 40px 40px;
    }
    .wrapper-step2 {
      align-items: center;
    }
    .title-step2 {
      display: inline-block;
      text-align: center;
      font-weight: normal;
      max-width: 540px;
      font-size: 28px;
    }
    .buttons-step2 {
      justify-content: center;
      width: 100%;
      .btn__load:first-child {
        margin-right: 20px;
      }
    }
    &-label {
      color: $color-font;
      font-size: 16px;
      margin-bottom: 12px;
    }
    .input-wrapper {
      margin-right: 0;
      flex: unset;
    }
    &-input {
      position: relative;
      background-color: $color-bg-input;
      padding: 18px 18px 18px 60px;
      font-size: 16px;
    }
    &-back {
      position: absolute;
      z-index: 2;
      top: 50px;
      left: 15px;
      color: $lightBlue;
    }
    &-buttons {
      display: flex;
      justify-content: space-between;
      & .btn__affirm,
      & .btn__deny {
        max-width: none;
        flex: 1;
        padding: 18px 0;
        color: $white;
        font-size: 21px;
        font-weight: bold;
      }
      & .btn__affirm {
        background-color: $confirmed;
        margin-right: 40px;
      }
      & .btn__deny {
        background-color: $denied;
      }
    }
    &-norevoke {
      padding: 48px 0;
      width: 100%;
      background-color: $color-bg-menu;
      border-radius: 18px;
      font-size: 16px;
      font-weight: 700;
      text-align: center;
      color: $color-font;
    }
    &-result {
      font-size: 21px;
      color: $color-font;
      text-align: center;
      max-width: 540px;
    }
  }
  &__challenge {
    .project__ecalation-wrapper {
      justify-content: space-evenly;
    }
    &-wrapper {
      border: 4px solid $lightBlue;
      padding: 20px 40px 40px 40px;
      justify-content: space-around;
    }
    & .input-wrapper {
      flex: 1;
      align-self: flex-end;
    }
    & .btn__submit-vote {
      max-width: 260px;
      height: 60px;
      align-self: flex-end;
      margin-left: 40px;
      background-color: $lightBlue;
      color: $white;
      font-size: 21px;
      font-weight: 700;
    }
    &-title {
      display: flex;
      align-items: center;
    }
    &-attention {
      margin-right: 40px;
    }
    &-text {
      font-size: 21px;
      color: $color-font;
      max-width: 740px;
      line-height: 34px;
    }
    &-form {
      display: flex;
    }
  }
  &__validation-result {
    display: flex;
    flex-direction: column;
    &__heading {
      width: 223px;
      height: 34px;

      margin: 40px 0 10px 0;

      font-style: normal;
      font-weight: bold;
      font-size: 21px;
      line-height: 25px;
      display: flex;
      align-items: center;

      color: $color-font;
    }
    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-top: 10px;
      width: 100%;
      max-width: 1040px;
      height: 50px;

      background: $white;
      border-radius: 8px;
    }
    &__icon {
      margin-left: 24px;
      .icon-close:before {
        color: $denied;
        font-size: 12px;
      }
      .icon-success:before {
        color: $confirmed;
        font-size: 12px;
      }
    }
    &__content {
      display: flex;
      &-text {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        text-align: center;

        color: $color-font;

        &-affirmed {
          color: $confirmed;
        }
        &-denied {
          color: $denied;
        }
        white-space: pre;
      }
    }
    &__more {
      margin-right: 20px;
      &-info {
        background-color: transparent;
        padding: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        text-align: right;

        color: $lightBlue;

        cursor: pointer;
      }
    }
  }
}
