body {
    position: relative;
    @include theme-aware('color', 'body-color-font');
    @include theme-aware('background-color', 'color-background');
    font-family: $common-font;
    line-height: 1.2;
}
  
* {
    outline: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
html {
    font-size: 18px;
}
  
li {
    list-style-type: none;
}
h2 {
     font-size: 28px;
     line-height: 1.2;
}
  
a {
  
    &:hover {
      text-decoration: none;
    }
  
    &:visited {
      text-decoration: none;
    }
  
    &:link {
      text-decoration: none;
    }
  
    &:active {
      text-decoration: none;
    }
}
  
p {
    margin: 0;
}

.btn {
  display: block;
  padding: 10px 35px;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  @include theme-aware('border-color', 'border-btn-transparent');

  &__load {
    font-size: 18px;
    font-weight: bold;
    background-color: $lightBlue;
    color: $white;
    border-radius: 6px;
  }

  &__disabled {
    background-color: $tile_title_bottom_border !important;
    cursor: not-allowed;
  }

  &__escalation {
    background-color: transparent;
    border: 1px solid $white !important;
    border-radius: 90px;
    font-size: 12px;
    font-weight: 700;
    max-width: 154px;
    width: 100%;
    color: $white;
    padding: 8px 0px;
    margin-top: 20px;
  }

  &__login, &__acc {
    padding: 17px 10px;
    background-color: $lightBlue;
    border: 1px solid $lightBlue;
    width: 100%;
    color: $white;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $second-font;

    &:hover {
      @include theme-aware('background', 'color-bg-btn-active');
    }
  
    &:active {
      @include theme-aware('background', 'color-bg-btn-active');
    }

    & i{
      font-size: 28px;
      margin-right: 17px;
    }

  }

  &__acc {
    border: none;
    padding: 10px;
  }
}

.no-scroll {
  overflow: hidden;
  width: 100%;
  height: 100%;
}